* {
    margin: auto;
    font-family: 'Work Sans', sans-serif;
}

main {
    width: 1144px;
}

section {
    margin-top: 130px;
}

/* --------header style start------ */
header {
    width: auto;
    height: 800px;
    background-image: url('../images/banners/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    width: 1144px;
}

.header-item {
    width: 500px;
    height: 80px;
    text-align: right;
    margin-right: 0;
    padding-top: 230px;
}

.header-title {
    font-weight: 700px;
    font-size: 65px;
    color: #151414;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

.header-btn {
    width: 160px;
    height: 60px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    font-weight: 600px;
    font-size: 20px;
    color: #FFFFFF;
}

/* --------header style end------ */


/* ------------failures section style start--------- */
.failures-section-container {
    height: 725px;
}

.failures-section-item {
    display: flex;
}

.failures-section-text {
    width: 400px;
    height: 400px;
    margin-top: 300px;
    margin-left: 90px;
}

.failures-section-title {
    font-weight: 700px;
    font-size: 40px;
    color: #151414;
}

.failures-section-description,
.fa-check-item {
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.fa-solid {
    color: aqua;
}

/* ------------failures section style end--------- */

/* ------------plans section style start--------- */
.plans-section-container {
    height: 300px;
    text-align: center;
}

.plans-section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plans-section-item {
    display: flex;
    text-align: center;
}

.plans-section-item h4 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plans-section-item h5 {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* ------------plans section style end--------- */

/* ------------gradient section style start--------- */
.gradient-section-container {
    height: 300px;
    background:
        linear-gradient(to right, rgb(207, 31, 4), rgb(237, 211, 211)),
        url('../images/watch.png');
    background-blend-mode: multiply;
}

.gradient-section-item {
    margin: 0;
    width: 460px;
    padding-left: 60px;
    padding-top: 60px;
}

.gradient-section-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.primary-btn {
    width: 160px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}

/* ------------gradient section style end--------- */


/* ------------contact section style start--------- */
.contact-section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.contact-section-container {
    display: flex;
    height: 400px;
}

/* ------------contact section left style start--------- */
.contact-section-left {
    display: block;
    width: 500px;
    height: 300px;
}

.name,
.email,
.message {
    width: 500px;
    height: 30px;
    margin-bottom: 40px;
    border: 0;
    font-weight: 400px;
    font-size: 18px;
    border-bottom: 1px solid #737272
}

.submit-btn {
    width: 500px;
    height: 50px;
    color: #Ffffff;
    background: #F15B22;
    text-align: center;
    font-weight: 400px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}

/* ------------contact section left style end--------- */


/* ------------contact section right style start--------- */
.contact-section-right {
    background-color: #282626;
    color: #FFFFFF;
    width: 500px;
    height: 300px;
}

.contact-item {
    width: 400px;
    padding: 30px;
}

.contact-item p i {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #F8F8F8;
    font-weight: 400px;
    font-size: 18px;
}

/* ------------contact section right style end--------- */
/* ------------contact section style end--------- */


/* ------------footer section style start--------- */
footer {
    height: 580px;
    margin-top: 130px;
    background: #151414;
    color: #FFFFFF;
    text-align: center;
}

.footer {
    width: 1144px;
    display: flex;
}

/* ------------footer section left-content style start--------- */
.footer-left-content {
    width: 490px;
    height: 320px;
    text-align: left;
    margin-left: 0;
    margin-top: 130px;
}

.footer-left-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description,
.email,
.phone {
    font-weight: 400px;
    font-size: 16px;
    margin-top: 16px;
}

.footer-icon img {
    margin-top: 32px;
    margin-right: 18px;
}

/* ------------footer section left-content style end--------- */


/* ------------footer section right-content style start--------- */
.footer-right-content {
    width: 325px;
    height: 205px;
    text-align: left;
    margin-right: 0;
}

.footer-right-title {
    font-weight: 600;
    font-size: 25px;
}

.input-email {
    width: 325px;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 16px;
    background: #151414;
    color: #FFFFFF;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}

.footer-btn {
    width: 170px;
    height: 65px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0;
    font-weight: 600px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* ------------footer section right-content style end--------- */
/* ------------footer section style end--------- */

/* Thank You */